<footer class="section-gap footer-widget-area">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6" ng-if="!!usuarioLogado">
                <div class="single-footer-widget">
                    <h6 class="text-white text-uppercase mb-20">Cadastros</h6>
                    <ul class="footer-nav">
                        <li><a href="cadastro-ocorrencia">Ocorrência</a></li>
                        <li><a href="cadastro-usuario">Usuário</a></li>
                        <li><a href="#">Acusado</a></li>
                        <li><a href="cadastro-outros">Outros</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" ng-if="!!usuarioLogado">
                <div class="single-footer-widget">
                    <h6 class="text-white text-uppercase mb-20">Consultas</h6>
                    <ul class="footer-nav">
                        <li><a href="consultar-ocorrencias">Ocorrências</a></li>
                        <li><a href="consultar-envolvidos">Envolvidos</a></li>
                        <li><a href="consultar-veiculos">Veículos</a></li>
                        <li><a href="estatisticas#!#ocorrencia">Estatísticas</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-white text-uppercase mb-20">Institucional</h6>
                    <ul class="footer-nav">
                        <li><a href="/gdop/">Home</a></li>
                        <li><a href="termos-de-uso">Termos de Uso</a></li>
                        <li><a href="politicas-de-privacidade">Políticas de Privacidade</a></li>
                        <li><a href="sobre">Sobre</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
            <p class="footer-text m-0">Copyright &copy; 2018 Todos os direitos reservados   |   Esse sistema foi feito com <i class="fa fa-heart-o" aria-hidden="true"></i> por <a href="https://facebook.com/juan.soares.716" target="_blank">Fábio Roger / Juan Soares</a></p>
            <div class="footer-social d-flex align-items-center">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>