<header class="default-header">
    <div class="header-wrap">
        <div class="header-top d-flex justify-content-between align-items-center">
            <div class="logo">
                <a href="/gdop/"><img src="web/imagens/logo.png" alt="Logo GdOP"></a>
            </div>
            <div class="main-menubar d-flex align-items-center">
                <nav class="hide">
                    <a href="/gdop/">Home</a>
                    <a href="{{usuarioLogado.nomeAmigavel}}" ng-bind="usuarioLogado.nome | ellipsis:15" ng-if="!!usuarioLogado" ng-click="editarUsuario(usuarioLogado)"></a>
                    <a href="acessar-sistema" ng-if="!usuarioLogado">Entrar</a>
                    <a href="#" ng-click="deslogar()" ng-if="!!usuarioLogado">Sair</a>
                </nav>
                <div class="menu-bar"><span class="lnr lnr-menu"></span></div>
            </div>
        </div>
    </div>
</header>